In [1]:
!curl -O https://archive.ics.uci.edu/ml/machine-learning-databases/blood-transfusion/transfusion.data

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:03 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:03 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:04 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:05 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:06 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:07 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:08 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:09 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:10 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:11 --:--:--     0
  0 12843    0     0    0     0      0      0 --:--:--  0:00:13 --:--:--     0
  0 12843    0     0    0     0      0      0 --:--:--  0:00:13 --:--:--     0
  0 12843    0     0    0     0      0      0 --:--:--  0:00:14 --:--:--     0
  0 12843    0     0    0     0      0      0 --:--:--  0:00:15 --:--:--     0
100 12843  100 12843    0     0    834      0  0:00:15  0:00:15 --:--:--  3620

In [3]:
import pandas as pd
import numpy as np

In [5]:
from pandas.compat import StringIO

In [7]:
blood = pd.read_csv(' transfusion.csv', delimiter = ',')

In [8]:
blood.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [11]:
#this data segt has 748 rows and 5 columns
blood.shape

(748, 5)

In [12]:
blood.tail()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
743,23,2,500,38,0
744,21,2,500,52,0
745,23,3,750,62,0
746,39,1,250,39,0
747,72,1,250,72,0

In [13]:
blood.isnull()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
5,False,False,False,False,False
6,False,False,False,False,False
7,False,False,False,False,False
8,False,False,False,False,False
9,False,False,False,False,False
10,False,False,False,False,False
11,False,False,False,False,False
12,False,False,False,False,False
13,False,False,False,False,False
14,False,False,False,False,False
15,False,False,False,False,False
16,False,False,False,False,False
17,False,False,False,False,False
18,False,False,False,False,False
19,False,False,False,False,False
20,False,False,False,False,False
21,False,False,False,False,False
22,False,False,False,False,False
23,False,False,False,False,False
24,False,False,False,False,False
25,False,False,False,False,False
26,False,False,False,False,False
27,False,False,False,False,False
28,False,False,False,False,False
29,False,False,False,False,False
...,...,...,...,...,...
718,False,False,False,False,False
719,False,False,False,False,False
720,False,False,False,False,False
721,False,False,False,False,False
722,False,False,False,False,False
723,False,False,False,False,False
724,False,False,False,False,False
725,False,False,False,False,False
726,False,False,False,False,False
727,False,False,False,False,False
728,False,False,False,False,False
729,False,False,False,False,False
730,False,False,False,False,False
731,False,False,False,False,False
732,False,False,False,False,False
733,False,False,False,False,False
734,False,False,False,False,False
735,False,False,False,False,False
736,False,False,False,False,False
737,False,False,False,False,False
738,False,False,False,False,False
739,False,False,False,False,False
740,False,False,False,False,False
741,False,False,False,False,False
742,False,False,False,False,False
743,False,False,False,False,False
744,False,False,False,False,False
745,False,False,False,False,False
746,False,False,False,False,False
747,False,False,False,False,False

In [14]:
# agrregation/ data summary
blood.describe()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
count,748.000000,748.000000,748.000000,748.000000,748.000000
mean,9.506684,5.514706,1378.676471,34.282086,0.237968
std,8.095396,5.839307,1459.826781,24.376714,0.426124
min,0.000000,1.000000,250.000000,2.000000,0.000000
25%,2.750000,2.000000,500.000000,16.000000,0.000000
50%,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,14.000000,7.000000,1750.000000,50.000000,0.000000
max,74.000000,50.000000,12500.000000,98.000000,1.000000

In [16]:
#to check if any column has null entries
blood.isnull().any()

Recency (months)                              False
Frequency (times)                             False
Monetary (c.c. blood)                         False
Time (months)                                 False
whether he/she donated blood in March 2007    False
dtype: bool

In [17]:
%matplotlib inline
import matplotlib.pyplot as plt